# Default ignored files
/../../../../../../LIVING~1.COM/AppData/Local/Temp/ArduinoIDE.py6824024807406126302/.idea/shelf/
/../../../../../../LIVING~1.COM/AppData/Local/Temp/ArduinoIDE.py6824024807406126302/.idea/workspace.xml
